{% extends "base.html" %}
{% load static %}

{% block title %} user registration {% endblock %}


{% block content %}
    <!-- Login & Register Start -->
    <div class="section login-register-section section-padding-04">
        <div class="container">

            <!-- Login & Register Wrapper Start -->
            <div class="login-register-wrap">
                <div class="row gx-5">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">

                        <!-- Login & Register Box Start -->
                        <div class="login-register-box">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="title">Register</h2>
                            </div>
                            <!-- Section Title End -->

                            <div class="login-register-form"></div>
                                {% if messages %}
                                    <ul>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                        
                                        <div class="single-form">
                                            
                                            {% comment %}
                                                {{ field.label_tag(class="form-label") }}
                                            {% endcomment %}
                                            {{ field }}
                                            {% if form.is_bound and field.errors %}
                                                <div class="text-danger">
                                                    {% for error in field.errors %}
                                                        <small>{{ error }}</small>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% endfor %}

                                    <!-- <button type="submit" class="btn btn-primary">Register</button> -->
                                    <div class="form-btn">
                                        <button class="btn form-control">Register</button>
                                    </div>
                                    <div class="single-form">
                                        <p><a href="{% url 'signin' %}">Have an account? Sign in</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Login & Register Box End -->

                    </div>
                    <div class="col-lg-1"></div>
                    
                </div>
            </div>
            <!-- Login & Register Wrapper End -->

        </div>
    </div>
    <!-- Login & Register End -->


{% endblock %}

